* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  box-sizing: border-box;
  background: repeating-radial-gradient(lightblue, #2828ff);
}

.game-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.gameName {
  display: flex;
  align-items: center;
  padding: 20px 10px;
  font-family: "Opera sans", sans-serif;
  color: white;
  font-weight: bold;
  justify-content: center;
}

.inside-game {
  display: flex;
}

.chAndhi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.hint-sentece {
  align-self: self-start;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
}

.hint-sentece h2 {
  background-color: white;
  padding: 15px 15px;
  font-family: "Opera Sans", sans-serif;
  border-radius: 30px;
  font-weight: 400;
  box-shadow: 0px 0px 2px 2px #ff2828;
}

.hint-sentece span {
  color: #c051a8;
}

.chances h2 {
  background: white;
  padding: 12px 15px;
  border-radius: 30px;
  border: 2px solid black;
}

.safe {
  color: green;
}

.careFul {
  color: orange;
  animation: care-ful 0.8s ease-in-out;
  -webkit-animation: care-ful 0.8s ease-in-out;
}

.in-danger {
  color: red;
  animation: in-danger 0.8s ease-in-out;
  -webkit-animation: in-danger 0.8s ease-in-out;
}

.section {
  display: flex;
  flex-direction: column;
  flex: 1;
}

h2.high-score {
  position: absolute;
  font-size: 10px;
  color: white;
  font-family: "Press Start 2P", system-ui;
  font-weight: 200;
  bottom: 10px;
  right: 15px;
}

.hangman-draw {
  flex: 1;
  height: 350px;
  padding: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  background-color: #00000038;
  border-radius: 25px;
  margin: 10px;
}

.draw {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.stand {
  width: 60px;
  height: 320px;
  border-bottom: 15px solid #fff;
  position: relative;
  border-radius: 10px;
}

.hang {
  display: none;
  width: 4px;
  height: 90%;
  position: absolute;
  background-color: #fff;
  bottom: 15px;
  width: 10px;
  border-radius: 20px;
}

.hang:before {
  display: none;
  content: "";
  width: 100px;
  height: 4px;
  position: absolute;
  background-color: #fff;
  top: 15px;
  height: 10px;
  border-radius: 20px;
}

.hang:after {
  display: none;
  content: "";
  width: 10px;
  height: 50px;
  position: absolute;
  background-color: #fff;
  left: 18px;
  top: 12px;
  transform: rotate(45deg);
  border-radius: 15px;
}

.rope {
  display: none;
  width: 25px;
  height: 10px;
  border-radius: 50%;
  border: 4px groove #c4a484;
  position: absolute;
  top: 108px;
  left: 89px;
  z-index: 10;
  background: repeating-linear-gradient(
    45deg,
    #8b6f47,
    #c4a484 5px,
    #8b6f47 10px
  );
}

.rope:before {
  content: "";
  height: 77px;
  width: 8px;
  position: absolute;
  top: -75px;
  left: 5px;
  border-radius: 38px;
  background: repeating-linear-gradient(14deg, #756c6c, beige 5px);
}

.head {
  display: none;
  width: 40px;
  height: 40px;
  border: 8px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 73px;
  left: 82px;
  z-index: 10;
}

.rope:after {
  content: "";
  position: absolute;
  width: 25px;
  height: 10px;
  background: repeating-linear-gradient(88deg, #414040, beige 5px);
  top: -77px;
  left: -2px;
  border-radius: 2px;
}

.body {
  display: none;
  width: 8px;
  height: 90px;
  background-color: #fff;
  position: absolute;
  left: 97px;
  top: 110px;
  border-radius: 20px;
}

.left-arms {
  display: none;
  width: 45px;
  height: 8px;
  background-color: #fff;
  transform: rotate(-50deg);
  position: absolute;
  left: 62px;
  top: 132px;
  border-radius: 15px;
}

.right-arms {
  display: none;
  width: 45px;
  height: 8px;
  background-color: #fff;
  transform: rotate(50deg);
  position: absolute;
  left: 92px;
  top: 130px;
  border-radius: 15px;
}

.left-legs {
  display: none;
  width: 8px;
  height: 60px;
  background-color: #fff;
  position: absolute;
  bottom: 100px;
  left: 84px;
  transform: rotate(30deg);
  border-radius: 15px;
}

.right-legs {
  display: none;
  width: 8px;
  height: 60px;
  background-color: #fff;
  position: absolute;
  bottom: 100px;
  left: 110px;
  border-radius: 15px;
  transform: rotate(-30deg);
}

.draw.mistaken-1 .hang {
  display: block;
}
.draw.mistaken-2 .hang:before {
  display: block;
}
.draw.mistaken-3 .hang:after {
  display: block;
}
.draw.mistaken-4 .rope {
  display: block;
}
.draw.mistaken-5 .head {
  display: block;
}
.draw.mistaken-6 .body {
  display: block;
}
.draw.mistaken-7 .right-arms,
.draw.mistaken-7 .left-arms {
  display: block;
}
.draw.mistaken-8 .right-legs,
.draw.mistaken-8 .left-legs {
  display: block;
}

.keywords {
  flex: 1;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}
.word {
  padding: 10px;
  width: 55px;
  height: 55px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 24px;
  font-family: system-ui;
  font-weight: 600;
  text-transform: capitalize;
  box-shadow: 1px 1px 0px 1px black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.words-display {
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.words-display {
  margin-top: 10px;
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  background-color: #eee;
}

span.word-box {
  width: 50px;
  height: 50px;
  margin: 0px 5px;
  box-shadow: 0px 0px 7px 4px #00226b;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: sans-serif;
}

span.space:before {
  content: "-";
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 60px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: math;
  align-content: center;
}

.clicked {
  pointer-events: none;
  opacity: 0.4;
  background-color: #c051a8;
  color: gray;
}

.game-over {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 200px;
  font-family: "Winky Sans", sans-serif;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 0px 16px 8px #e5cc1c;
  animation: load 1s linear;
  -webkit-animation: load 1s linear;
}

.game-over span {
  color: cadetblue;
}

.game-over button {
  padding: 10px;
  border-radius: 10px;
  border: 0px;
  box-shadow: 0px 0px 2px 3px #0099cd;
  background: repeating-radial-gradient(#00c2ff, #00f3c6 170px);
  color: #c6ff37;
  font-size: 10px;
  font-weight: bold;
  font-family: "Press Start 2P", system-ui;
  cursor: pointer;
  animation: wosh 2s linear;
  transition: 0.5s ease-in-out all;
  b-webkit-transition: background 0.5s, color 0.5s;
  -moz-transition: 0.5s ease-in-out all;
  -ms-transition: 0.5s ease-in-out all;
  -o-transition: 0.5s ease-in-out all;
  -webkit-transition: 0.5s ease-in-out all;
  -webkit-animation: wosh 2s linear;
}

.game-over button:hover {
  background: #fff9f9;
  color: #ff0000;
  box-shadow: 0px 0px 2px 3px #ffaa00;
}

.blur {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -webkit-animation: blur 1s ease-in-out;
  animation: blur 1s ease-in-out;
}

.winner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 250px;
  background-color: beige;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 10px mediumvioletred;
  animation: wosh 1s linear;
  -webkit-animation: load 1.5s linear;
  border: 2px groove mediumvioletred;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.winner h4 {
  font-size: 25px;
  font-family: sans-serif;
  font-weight: 800;
  color: #e3fa42;
  text-shadow: 1px 1px 3px #3a3434;
  border-bottom: 4px solid gold;
  filter: drop-shadow(2px 3px 1px gold);
}

.winner h2 {
  font-size: 25px;
  font-family: fantasy;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #00e3ff;
  text-shadow: 1px 1px 3px black;
  border: 1px solid black;
  padding: 10px;
  box-shadow: inset 0px 0px 2px 1px;
  background-color: ghostwhite;
}

.winner button {
  width: 45%;
  font-size: 15px;
  padding: 12px 15px;
  border-radius: 10px;
  border: 0px;
  box-shadow: inset 0px 0px 2px 3px #0091eb;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s linear all;
  font-weight: bolder;
}

.winner button:hover {
  box-shadow: inset 0px 0px 30px 20px #0091eb;
  color: white;
  background-color: cornsilk;
}

.spawn {
  animation: spawn 1s ease-in-out;
  -webkit-animation: spawn 1s ease-in-out;
}

@keyframes blur {
  0% {
    filter: blur(0px);
    -webkit-filter: blur(0px);
  }
  100% {
    filter: blur(5px);
    -webkit-filter: blur(5px);
  }
}

@keyframes spawn {
  0% {
    height: 0%;
  }
  100% {
    height: 90%;
  }
}

@keyframes wosh {
  0% {
    opacity: 0;
    transform: scale(1.5), translate(-50%, -50%);
    -webkit-transform: scale(1.5), translate(-50%, -50%);
    -moz-transform: scale(1.5), translate(-50%, -50%);
    -ms-transform: scale(1.5), translate(-50%, -50%);
    -o-transform: scale(1.5), translate(-50%, -50%);
  }
  100% {
    opacity: 1;
    transform: scale(1), translate(-50%, -50%);
    -webkit-transform: scale(1), translate(-50%, -50%);
    -moz-transform: scale(1), translate(-50%, -50%);
    -ms-transform: scale(1), translate(-50%, -50%);
    -o-transform: scale(1), translate(-50%, -50%);
  }
}

@keyframes load {
  0% {
    height: 0px;
    opacity: 0;
  }
  100% {
    height: 250px;
    opacity: 1;
  }
}

@keyframes care-ful {
  0% {
    color: green;
  }
  100% {
    color: orange;
  }
}
@keyframes in-danger {
  0% {
    color: orange;
  }
  100% {
    color: red;
  }
}

@media (max-width: 687px) and (min-width: 300px) {
  .hangman-draw {
    flex: none;
    height: 250px;
  }
  .section {
    flex-direction: column;
    align-items: center;
  }

  .inside-game {
    flex-direction: column;
  }

  .word {
    width: 35px;
    height: 35px;
    font-size: 18px;
  }

  span.word-box {
    width: 30px;
    height: 30px;
    font-size: 18px;
  }
  .hint-sentece h2 {
    padding: 10px 10px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bolder;
  }
  .chances h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 10px 10px;
    margin-left: 5px;
  }
  .stand {
    width: 60px;
    height: 200px;
    border-bottom: 15px solid #fff;
    position: relative;
    border-radius: 10px;
  }
  .hang {
    width: 4px;
    height: 55%;
    position: absolute;
    background-color: #fff;
    bottom: 22%;
    width: 10px;
    border-radius: 20px;
  }
  .hang:before {
    content: "";
    width: 80px;
    height: 4px;
    position: absolute;
    background-color: #fff;
    top: 15px;
    height: 10px;
    border-radius: 20px;
  }
  .hang:after {
    content: "";
    width: 10px;
    height: 50px;
    position: absolute;
    background-color: #fff;
    left: 18px;
    top: 12px;
    transform: rotate(45deg);
    border-radius: 15px;
  }

  .rope {
    width: 25px;
    height: 10px;
    border-radius: 50%;
    border: 4px groove #c4a484;
    position: absolute;
    top: 40%;
    left: 125%;
    z-index: 10;
    background: repeating-linear-gradient(
      45deg,
      #8b6f47,
      #c4a484 5px,
      #8b6f47 10px
    );
  }
  .rope:before {
    content: "";
    height: 50px;
    width: 8px;
    position: absolute;
    top: -48px;
    left: 5px;
    border-radius: 38px;
    background: repeating-linear-gradient(14deg, #756c6c, beige 5px);
  }
  .rope:after {
    content: "";
    position: absolute;
    width: 25px;
    height: 10px;
    background: repeating-linear-gradient(88deg, #414040, beige 5px);
    top: -49px;
    left: -4px;
    border-radius: 2px;
  }
  .head {
    width: 35px;
    height: 35px;
    border: 8px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 32%;
    left: 118%;
    z-index: 10;
  }
  .body {
    width: 8px;
    height: 50px;
    background-color: #fff;
    position: absolute;
    left: 140%;
    top: 42%;
    border-radius: 20px;
  }
  .left-arms {
    width: 29px;
    height: 8px;
    background-color: #fff;
    transform: rotate(-50deg);
    position: absolute;
    left: 61px;
    top: 155px;
    border-radius: 15px;
  }
  .right-arms {
    width: 29px;
    height: 8px;
    background-color: #fff;
    transform: rotate(50deg);
    position: absolute;
    left: 85px;
    top: 156px;
    border-radius: 15px;
  }
  .left-legs {
    width: 8px;
    height: 45px;
    background-color: #fff;
    position: absolute;
    bottom: 116px;
    left: 73px;
    transform: rotate(30deg);
    border-radius: 15px;
  }
  .right-legs {
    width: 8px;
    height: 45px;
    background-color: #fff;
    position: absolute;
    bottom: 116px;
    left: 95px;
    border-radius: 15px;
    transform: rotate(-30deg);
  }
}

div#level-max {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 10px outset rebeccapurple;
  padding: 40px 30px;
  height: 275px;
  width: 380px;
  border-radius: 25px;
  gap: 15px;
  overflow: hidden;
  animation: wosh 1s ease-in-out;
  -webkit-animation: wosh 1s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

h3#congratulation {
  font-size: 25px;
  font-family: cursive;
  font-weight: bolder;
}

button#Restart {
  width: 120px;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: orangered;
  box-shadow: 0px 0px 2px 1px red;
  border: 1px;
  color: white;
  font-family: monospace;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  transition: 0.4s linear all;
}

p#res-note {
  border: 1px groove red;
  padding: 5px;
  position: relative;
  box-shadow: inset 0px 0px 2px 1px red;
  background-color: #eee;
  font-size: 15px;
}

p#res-note:before {
  content: "NOTE:";
  position: absolute;
  top: -20px;
  left: 0;
}

button#Restart:hover {
  box-shadow: 0px 0px 6px 3px #ff6300;
  border: 0px;
}

@keyframes endGame {
  0% {
    filter: blur(0px);
    -webkit-filter: blur(0px);
  }
  100% {
    filter: (10px);
    -webkit-filter: (10px);
    pointer-events: none;
  }
}

.none {
  display: none;
}

.flex {
  display: flex;
}
